%heading {
  font-family: $font-display;
}

.heading-1 {
  @extend %heading;
  font-size: 8rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.heading-2 {
  @extend %heading;
  font-size: 2vw;
  line-height: 1.3;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

.heading-3 {
  @extend %heading;
  font-size: 1vw;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  letter-spacing: 0.5rem;

  &--light {
    color: $off-white;
  }
}

.heading-5 {
  @extend %heading;
  font-size: 2.4vw;
  line-height: 1.3;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  color: #f0f0f0;
  display: flex;
  margin-left: 30%;
  margin-top: 10%;
}

.btn {
  color: #fff;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.35s;

  @media only screen and (min-width: $bp-medium) {
    font-size: 1.3rem;
  }

  &--transparent {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid $white;
  }
  &--blue {
    background: rgb(0, 0, 66);
    border: none;
  }

  &:hover {
    &--transparent {
      background: rgba(255, 255, 255, 0.5);
      color: $dark-gray;
    }
    &--dark {
      background-color: $dark-gray;
    }
  }
}
